 body {
 	color: pink;
 }

.styles {
	font-family: 'Comfortaa', cursive;
	text-align: center;
}
#sports {
	background-color: #6b9397;
}

.buttonsView{
	padding: 10px;
	margin: 12px;
	color: yellow;
	background-color: #6b9397;
	border-radius: 14px;
}
.teams:hover, #addTeam:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
}
form {
	margin: 20px;
}